{% extends 'base.html' %}

{% block head %}
<title>Hello</title>
{% endblock %}

{% block body %}
<br>
<h1>Welcome</h1>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Navbar examples</h1>
        <p>Welcome to my Blog! Here we will be discussiong everyhing related to computer programming. Basics, frameworks, machine learning, datascience, new tech, and more...</p>
        <p>Go visit us at our website <a href="/docs/4.5/examples/navbar-static/">website.com</a> To check out more great content.</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">Go to posts &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}